body {
  font-family: 'Prompt', sans-serif;
  background-color: #E9F8FF;
  color: #333;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  z-index: 1100;
}

:root{
  --sidebar-w: 220px;
  --header-h: 72px;
}

.sidebar{
  position: fixed;
  left: 0;
  top: var(--header-h);
  height: calc(100% - var(--header-h));
  width: var(--sidebar-w);
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0,0,0,.08);
  padding: 20px;
  overflow-y: auto;
  transition: transform .3s ease;
  z-index: 1000;
}
.sidebar.hidden { 
  transform: translateX(-100%); 
}

.sidebar.hidden ~ .content {
  margin-left: 0;
}

.sidebar .nav-link {
  color: #333;
  transition: 0.2s;
}

.sidebar .nav-link:hover {
  background-color: #e7f1ff;
  border-radius: 6px;
}

.sidebar .collapse .nav-link {
  font-size: 0.95rem;
  padding-left: 20px;
}

.sidebar .caret-toggle {
  border: none ;
  background: transparent ;
  box-shadow: none ;
}


.content {
  margin-left: var(--sidebar-w);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-direction: row; 
  align-items: flex-start;
  gap: 20px;
  flex: 1;
}

.secondary-content {
  width: 220px;
  background-color: #c8ecf8;
  padding: 1rem;
  position: sticky;
  top: var(--header-h);
  bottom: 0; 
  right: 0;  
  flex-shrink: 0;
  align-self: flex-start;
  max-height: calc(100vh - var(--header-h));
  overflow-y: auto; 
  margin-left: auto; 
  display: block;
}

.bg-water {
  background-color: #7EC8E3;
}

.bg-sunset {
  background-color: #005F73;
}

h1, h2 {
  text-align: center;
  color: #005F73;
  color: rgb(252, 252, 252);
  text-align: center;
  padding: 1rem;
}
h3 {
  color: #005F73;
  text-align: center;
  margin-bottom: 1rem;
}


@media (max-width: 1024px) {
   .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .secondary-content {
    width: 100%;
    margin-top: auto;;
    background-color: #c8ecf8;
    order: 2;
  }
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
  }

  .secondary-content {
    width: 100%;
    margin-top: 1rem;
    background-color: #c8ecf8;
    order: 2;
  }
} 

footer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  footer {
    flex-direction: column;
  }

  .secondary-content {
    margin-bottom: 0.5rem; 
  }
}

