body {
  font-family: 'Prompt', sans-serif;
  background-color: #E9F8FF;
  color: #333;
}

header {
  position: relative;
  z-index: 1100;
}

:root{
  --sidebar-w: 220px;
  --header-h: 72px;
}

.sidebar{
  position: fixed;
  left: 0;
  top: var(--header-h);
  height: calc(100% - var(--header-h));
  width: var(--sidebar-w);
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0,0,0,.08);
  padding: 20px;
  overflow-y: auto;
  transition: transform .3s ease;
  z-index: 1000;
}
.sidebar.hidden { 
  transform: translateX(-100%); 
}

.sidebar.hidden ~ .content {
  margin-left: 0;
}

.sidebar .nav-link {
  color: #333;
  transition: 0.2s;
}

.sidebar .nav-link:hover {
  background-color: #e7f1ff;
  border-radius: 6px;
}

.sidebar .collapse .nav-link {
  font-size: 0.95rem;
  padding-left: 20px;
}

.content {
  margin-left: var(--sidebar-w);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.bg-water {
  background-color: #7EC8E3;
}

.bg-sunset {
  background-color: #005F73;
}

h1, h2 {
  color: #005F73;
}

footer {
  background-color: #005F73;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }
  .sidebar.hidden ~ .content { 
    margin-left: 0; 
  }
}
